# Unity caches / generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/

# Unity recoveries / autosaves
Assets/_Recovery/
Assets/_Recovery.meta

# User and IDE
UserSettings/
*.user
*.userprefs
.vs/
.idea/
.vscode/
*.csproj
*.sln

# Builds / packages
*.apk
*.aab
*.ipa
*.app
*.unitypackage
*.unitypackage.meta

# Addressables / generated
ServerData/
Assets/AddressableAssetsData/*/*.bin*
Assets/Addressables_Temp/

# OS junk
.DS_Store
Thumbs.db
